<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BERET WYSIADŁ</title>
    <!-- Add your CSS files, if any -->

</head>

<body>

    <header>
        <h1>BRTWSD/h1>
            <!-- Add navigation links, search bar, etc. -->
    </header>

    <main>
        <section>
            <h2>Featured Products</h2>
            <!-- Display featured products dynamically -->
        </section>

        <section>
            <h2>New Arrivals</h2>
            <!-- Display new arrivals dynamically -->
        </section>

        <!-- Add more sections for different categories or promotions -->
    </main>

    <footer>
        <p>&copy; 2023 Your Django Webstore. All rights reserved.</p>
        <!-- Add links to terms of service, privacy policy, etc. -->
    </footer>

    <!-- Add your JavaScript files, if any -->

</body>

</html>